@page
@using ontheweb.Models
@model TeachersModel
@{
}


<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th>Teacher</th>
        <th>ID</th>
        <th>ClassID</th>
    </tr>
    </thead>
    @foreach (Teacher teacher in @Model.Teachers)
    {
        <tr>
            <td>@teacher.Name</td>
            <td>@teacher.Id</td>
            <td>@teacher.ClassId</td>
        </tr>
    }
</table>